<% layout("/layouts/boilerplate") %>

   <div class="col-8 offset-2"> <h1>Sign Up for Come And Live !!</h1>  </div>
    <div class="row mt-3"> 
        <div class="col-8 offset-2">


            <form action="/signup" method="POST" class="needs-validation" novalidate>
                
                <div class="mb-3">
                    <label for="username" class="form-label">username</label>
                    <input name="username" placeholder="add your username" id="username" type="text" class="form-control"required>
                    <div class="valid-feedback">Username entered succesfully!!!</div>
                </div>


                <div class="mb-3">
                    <label for="email" class="form-label">email</label>
                    <input name="email" placeholder="add your email" id="email" type="text" class="form-control"required>
                    <div class="valid-feedback">Username entered succesfully!!!</div>
                </div>


                <div class="mb-3">
                    <label for="password" class="form-label">password</label>
                    <input name="password" placeholder="add your password" id="password" type="password" class="form-control"required>
                    <div class="valid-feedback">password entered succesfully!!!</div>
                </div>

                    <button class="btn btn-dark add-btn mt-3 mb-4">Sign Up!!</button>
            </form>


       </div>
    </div>